<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product</title>
  </head>

  <body>
    <!-- added Navbar using ejs File -->
    <!-- <%- include("./partials/Header") %> -->
    <h3>Edit Product</h3>
    <form action="/edit/<%= id %>" method="post">
      <div>
        <label for="product_name">Enter product name:</label>
        <br />
        <input
          type="text"
          name="product_name"
          id="product_name"
          value="<%= product_name %>"
          required
        />
      </div>
      <div>
        <label for="product_value">Enter product value: ex: 5,12</label>
        <br />
        <input
          type="text"
          name="product_value"
          id="product_value"
          value="<%= product_value %>"
          required
        />
      </div>
      <br />
      <% if (errors && errors.length> 0) { %> <% errors.forEach((error)=> { %>
      <p class="flash-error"><%= error %></p>
      <% }); %> <% } %>
      <button type="submit">Update</button>
    </form>
  </body>
</html>
